.idea
*.pyc
.mypy_cache/
.envrc
.env

/dist
/build


node_modules
node_modules_old
bower_components
assets/scss/global/_sprite*
assets/scss/official_site/_sprite*
assets/scss/official_site_v2/_sprite*
assets/scss/fonts
assets/scss/spritesmith-generated/.*

gunicorn-conf.py

*.log
xperf-log

.DS_Store

*.mo

.coverage
.cache

./profile*
/uploads/
zoom_recordings_tmp/
venv
deploy/venv

tmp/*
instrument

dump.rdb

subject/dist/*

client_body_temp
fastcgi_temp
proxy_temp
scgi_temp
uwsgi_temp

.fontcustom-manifest.json

.vscode
/conf/config.yml
/conf/local.py
/conf/config_local.yml
.python-version
.tool-versions
.pytest_cache/
report.html
assets/style.css
spritesmith-generated

karma_coverage
/report.*
conf/gunicorn_web.py
conf/gunicorn_socketio.py

~*.xlsx
uploads/*

get-poetry.py
.cache/pip
.history

# Logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

/frontend/node_modules
/frontend/.DS_Store
/frontend/dist
/frontend/dist-ssr
/frontend/coverage
*.local

/frontend/cypress/videos/
/frontend/cypress/screenshots/

# Editor directories and files
/frontend/.vscode/*
!.vscode/extensions.json
/frontend/.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
